@model IEnumerable<Webshop.Models.Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Lashline";
}
<center>
    <br />
    <h1>Products</h1>

    @if (SignInManager.IsSignedIn(User) && User.Identity.Name == "admin@admin.se")
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    <div class="card-deck" style="justify-content: center">
            @foreach (var item in Model)
            {
                <div class="card" style="min-width: 250px; max-width: 250px; margin:5px;">
                    <img class="card-img-top" src="@item.ImageUrl" alt="@item.Name" style="height:230px;">
                    <div class="card-body text-center">
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text">@item.Price SEK</p>
                        <a href="#" class="btn btn-primary">Go to product</a>
                    </div>
                </div>
            }
    </div>
</center>