@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lashline</h1>
</div>

<!--<center>
    <div id="demo" class="carousel slide" data-ride="carousel" width="30%">-->

        <!-- Indicators -->
        <!--<ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>-->

        <!-- The slideshow -->
        <!--<div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/LonglashF200.jpg" alt="F200">
            </div>
            <div class="carousel-item">
                <img src="~/Images/MinklashDouble.jpg" alt="Double">
            </div>
            <div class="carousel-item">
                <img src="~/Images/MinklashF100.jpg" alt="F100">
            </div>
        </div>-->

        <!-- Left and right controls -->
        <!--<a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</center>-->
